
.book-filter {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 1rem;
    margin-bottom: .8rem;

}

.book-filter input {
    border-radius: 5px;
    border: none;
    font-family: inherit;
    padding: .3rem 0;
    padding-inline-start: .5rem;
}

.book-filter input:focus-visible {
    outline: none;
}

