.review-add {
    position: fixed;
    border: 1px solid black;
    background-color: #323A49;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.review-add form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.review-add form>* {
    margin: .3rem;
}

.review-add form label {
    font-weight: bold;
}

.review-add h2 {
    margin-bottom: .5rem;
}
