.review-list h3 {
    text-align: start;
    font-size: 1.6rem;
}

.review-list main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-list h3 {
    margin-bottom: 1.2rem;
}