* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202124;
    color: #e8eaed;
    font-size: 1.05rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: white;

}

button {
    background-color: #41729F;
    font-size: 1.1rem;
    border-radius: .4rem;
    border: none;
    cursor: pointer;
    padding: .35rem .7rem;
    transition: all .3s;
    font-family: inherit;
}

button:hover {
    background-color: #775439;
}

a {
    text-decoration: none;
    color: inherit;
}