.item-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clean-link {
    text-decoration: none;
    color: inherit;
}


/* flex helpers */

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}


/* Grid */

.grid {
    display: grid;
}

.grid-center {
    place-items: center;
}