.main-layout {
    margin: 0 auto;
    max-width: 580px;
    padding: 0 10px;
}

@media screen and (min-width: 600px) {
    .main-layout {
        margin: 0 auto;
        max-width: 1600px;
        padding: 0 3rem;
    }
}