.note-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.note-filter select {
    border-radius: .3rem;
    padding: .1rem;
    margin-inline-start: .3rem;
}

.note-filter label {
    font-weight: bold;
}