.note-todos {
    padding-inline-start: .4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.note-preview h4 {
    margin-bottom: 1rem;
}

.note-todos li {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.note-todos li span {
    display: block;
}

.note-todos li span:hover {
    cursor: pointer;
}

.note-todos li span.todo-done {
    text-decoration: line-through;
}

.note-todos li button {
    padding: 0.3rem;
    background-color: unset;
    color: inherit;
}

.note-todos li button:hover {
    /* background-color: #2F435A; */
    background-color: unset;
}