.note-preview {
    background-color: #AB6B51;
    padding: .5rem;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.note-preview:hover {
    transform: scale(1.05);
}

.note-preview img {
    width: 100%;
}

.note-preview ul li {
    text-align: start;
    transition: transform 0.2s;
}

.note-preview ul li:hover {
    transform: scale(1.02);
}

.note-preview button {
    color: white;
    background-color: #2F435A;
}

.note-preview button:hover {
    background-color: #39918C;
}