.note-add-img {
    position: fixed;
    background-color: #2F435A;
    padding: 1.5rem;
    z-index: 10;
    border-radius: .5rem;
}

.note-add-img h4 {
    margin-bottom: 1rem;
}

.note-add-img form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 1rem;
}

.note-add-img .btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem
}